.Title{
  color:#783719;
  font-size: 30px; 
}

.TableHeader{
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px; 
}

.Subheader{
  font-weight: bold;
  color:#f5ae52;
}

.Accordions{
  text-align: center;
  color:#783719;
}

.Product{
  color:#f5ae52;
}